PORT=5000
DATABASE_URL=postgresql://neondb_owner:npg_SBADQU8RjfJ2@ep-wispy-fire-an951wmw-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
PGSSLMODE=disable
JWT_SECRET=goalpath_super_secret_key_change_in_production
NODE_ENV=development
